extends layout

block content
  .container(style=' width: 1500px; margin-top: 100px')
    .row
      .col-lg-3
        #login(style='margin-top:30px; margin-left:20px')
          form
            .form-group
              input#id.form-control(type='text' placeholder='아이디')
            .form-group
              input#pw.form-control(type='password' placeholder='비밀번호')
            div
              button.btn.btn-primary.btn-block 로그인
            a(href='./forgot')
              #but(style='width : 8px' 'float = left')
                button(type="button") ID/PW찾기
            a(href='./regis')
              #but(style='width : 10px' 'float = left' 'margin-left : 5px')
                button(type="button" style='margin-left : 5px') 회원가입
        #category
          p(align='center' style='font-size:1rem') 카테고리
          button.btn-ctg 식자재
          button.btn-ctg 즉석식품
          button.btn-ctg 반찬
          button.btn-ctg 음료수/아이스크림
          button.btn-ctg 커피/차
          button.btn-ctg 해외직구
          button.btn-ctg 기타
      div(style='clear:both;')
      // /.col-lg-3
      // slide bar & banner-
      #cent-menu.col-lg-8
        .col-lg-8.col-md-6.mb-4(style='float:left')
          //input(type='button' value='write')
          .card.h-100
            a(href='#')
              img.card-img-top(src='images/fish.jpg' alt='')
            .card-body
              h4.card-title
                a(href='#') 고등어
              h5 19.000원
              | 싱싱해요
              p.card-text
        .col-lg-4.col-md-6.mb-4(style='float:left' )
          .card.h-100
            a(href='#')
              img.card-img-top(src='images/potato.jpg' height='250px' alt='')
            .card-body
              h4.card-title
                a(href='#') 알감자
              h5 200.000원
              | 맛있어요

        .clearfix.visible-lg-block
        .col-lg-4.col-md-6.mb-4(style='float:left ')
          .card.h-100
            a(href='#')
              img.card-img-top(src='images/glue.jpg' alt='')
            .card-body
              h4.card-title
                a(href='#') AMos Glue
              h5 4.000원
              | 접착력이 뛰어나요.
        .col-lg-4.col-md-6.mb-4(style='float:left')
          .card.h-100
            a(href='#')
              img.card-img-top(src='images/pororo.jpg' alt='')
            .card-body
              h4.card-title
                a(href='#') 포로로 인형
              h5 1.200.000원
              | 아이들이 좋아해요.
        .col-lg-4.col-md-6.mb-4(style='float:left')
          .card.h-100
            a(href='#')
              img.card-img-top(src='images/knife.jpg' alt='')
            .card-body
              h4.card-title
                a(href='#') 장미칼
              h5 42.000원
              | 흔적도없이 잘라요.
        .col-lg-6
          a(href='/itemboard/new')
            #but(style='width : 10px')
              button(type="button") 글쓰기

        // /.row

      .col-lg-1(style='margin-top:50px;')
        nav.navbar(class='navbar-expand-xl|lg|md|sm')
          ul.navbar-nav
            #cur_item
              h5(style='text-align:center') 최근목록
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/potato.jpg')
                    | 알감자
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/fish.jpg')
                    //-이 밑에 주석은 혹시 모르니까 남겨놔 주세요~ 
                    //-img(src='picture/9437d3e417037c1b221518d08832782f')
                    | 고등어
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/pororo.jpg')
                    | 뽀로로 인형
                li.nav-item
                  a.nav-link(href='#', style='color:black')
                    img(src='images/knife.jpg')
                    | 장미칼
