extends layout

block content
  .container(style=' width: 1500px; margin-top: 50px')
    .row
      .col-lg-3
        #login(style='margin-top:50px')
          form
            .form-group
              input#id.form-control(type='text' placeholder='아이디')
            .form-group
              input#pw.form-control(type='password' placeholder='비밀번호')
            div
              button.btn.btn-primary.btn-block &#xB85C;&#xADF8;&#xC778;
            #but(style='width : 10px flaot = left')
              button ID/PW&#xCC3E;&#xAE30;
              button(style='margin-left : 30px') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
        #category
          p(align='center' style='font-size:1rem') &#xCE74;&#xD14C;&#xACE0;&#xB9AC;
          button.btn-ctg &#xC2DD;&#xC790;&#xC7AC;
          button.btn-ctg &#xC989;&#xC11D;&#xC2DD;&#xD488;
          button.btn-ctg &#xBC18;&#xCC2C;
          button.btn-ctg &#xC74C;&#xB8CC;&#xC218;/&#xC544;&#xC774;&#xC2A4;&#xD06C;&#xB9BC;
          button.btn-ctg &#xCEE4;&#xD53C;/&#xCC28;
          button.btn-ctg &#xD574;&#xC678;&#xC9C1;&#xAD6C;
          button.btn-ctg &#xAE30;&#xD0C0;
      div(style='clear:both;')
      // /.col-lg-3
      // slide bar & banner-
      #cent-menu.col-lg-8
        .col-lg-8.col-md-6.mb-4(style='float:left')
          .card.h-100
            a(href='#')
              img.card-img-top(src='http://placehold.it/700x400' alt='')
            .card-body
              h4.card-title
                a(href='#') Item One
              h5 $24.99
              p.card-text Loret. Amet numquam aspernatur!
        .col-lg-4.col-md-6.mb-4(style='float:left ')
          .card.h-100
            a(href='#')
              img.card-img-top(src='http://placehold.it/700x400' alt='')
            .card-body
              h4.card-title
                a(href='#') Item Three
              h5 $24.99
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
            .card-footer
              small.text-muted &starf; &starf; &starf; &starf; &star;
        .clearfix.visible-lg-block
        .col-lg-4.col-md-6.mb-4(style='float:left ')
          .card.h-100
            a(href='#')
              img.card-img-top(src='http://placehold.it/700x400' alt='')
            .card-body
              h4.card-title
                a(href='#') Item Four
              h5 $24.99
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
            .card-footer
              small.text-muted &starf; &starf; &starf; &starf; &star;
        .col-lg-4.col-md-6.mb-4(style='float:left')
          .card.h-100
            a(href='#')
              img.card-img-top(src='http://placehold.it/700x400' alt='')
            .card-body
              h4.card-title
                a(href='#') Item Five
              h5 $24.99
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
            .card-footer
              small.text-muted &starf; &starf; &starf; &starf; &star;
        .col-lg-4.col-md-6.mb-4(style='float:left')
          .card.h-100
            a(href='#')
              img.card-img-top(src='http://placehold.it/700x400' alt='')
            .card-body
              h4.card-title
                a(href='#') Item Six
              h5 $24.99
              p.card-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!
            .card-footer
              small.text-muted &starf; &starf; &starf; &starf; &star;
        // /.row
      .col-lg-1(style='margin-top:50px;')
        nav.navbar(class='navbar-expand-xl|lg|md|sm')
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='#') &#xAC10;&#xADE4;
            li.nav-item
              a.nav-link(href='#') &#xAD11;&#xC5B4;
            li.nav-item
              a.nav-link(href='#') &#xB871;&#xD328;&#xB529;
            li.nav-item
              a.nav-link(href='#') &#xAE30;&#xB2EC;&#xB824;&#xBD10;
      
