link(href='css/bootstrap.min.css', rel='stylesheet')


block content
  .container
      .row
        .row
          .col-md-4.col-md-offset-4
            .panel.panel-default
              .panel-body
                .text-center
                  h3
                    i.fa.fa-lock.fa-4x
                  h2.text-center ID / PW 찾기
                  p 이메일 주소로 정보를 보내드립니다.
                  .panel-body
                    form.form
                      fieldset
                        .form-group
                          .input-group
                            span.input-group-addon
                              i.glyphicon.glyphicon-envelope.color-blue
                            input#emailInput.form-control(placeholder='이메일 주소를 입력해주세요.', type='email', oninvalid="setCustomValidity('Please enter a valid email address!')", onchange="try{setCustomValidity('')}catch(e){}", required='')
                        .form-group
                          input.btn.btn-lg.btn-primary.btn-block(value='전송', type='submit')
