link(href='css/bootstrap.min.css', rel='stylesheet')

block content
  .container
    form#contact_form.well.form-horizontal(action=' ' method='post')
      fieldset
        // Form Name
        legend
          center
            h2
              b 회원가입
        br
        // Text input
        .form-group
          label.col-md-4.control-label 이름
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name='name' placeholder='이름' type='text')

        // Text input
        .form-group
          label.col-md-4.control-label 아이디
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name='id' placeholder='ID' type='text')
        // Text input
        .form-group
          label.col-md-4.control-label 비밀번호
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name='user_password' placeholder='비밀번호' type='password')
        // Text input
        .form-group
          label.col-md-4.control-label 비밀번호 확인
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name='confirm_password' placeholder='비밀번호 확인' type='password')
        // Text input
        .form-group
          label.col-md-4.control-label 이메일
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-envelope
              input.form-control(name='email' placeholder='이메일 주소' type='text')
        // Text input
        .form-group
          label.col-md-4.control-label 전화번호
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-earphone
              input.form-control(name='contact_no' placeholder='전화번호' type='text')
        .form-group
          label.col-md-4.control-label 주소
          .col-md-4.inputGroupContainer
            .input-group
              span.input-group-addon
                i.glyphicon.glyphicon-home
              input.form-control(name='adress' placeholder='주소' type='text')
        // Select Basic
        // Success message
        #success_message.alert.alert-success(role='alert')
          | Success
          i.glyphicon.glyphicon-thumbs-up
          |  Success!.
        // Button
        .form-group
          label.col-md-4.control-label
          .col-md-4
            br
            | 위 내용으로 회원가입 하시겠습니까?
            .button.btn.btn-primary(type='submit') 가입하기
